/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 35px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



/* OPTION TWO FROM THE INTERNET https://stackoverflow.com/questions/9196379/css-two-state-button/9197677 */
/* this is the style of an unchecked "button" */
.input-check{
    display:inline-block;
    height:20px;
    padding:5px 8px;
    background:blue;
    width:70px;
    color:white;
    content: "OR";
}
/* This is the style for a checked "button" */
.input-check.checked{
    background:green;
    color:black;
    content: "AND";
    font-weight:bold
}
/* Hide the checkbox */
.input-check input{
    display:none
}